@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Signin */
.signin-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vb;
}
.signin-wrapper button,
.signin-wrapper a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1em 1.5em;
  cursor: pointer;
}
.signin-wrapper button:active {
  transform: scale(0.95);
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vb;
}
.dashboard .message-wrapper {
  border: 1px solid white;
  padding: 1em;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: scroll;
}
.dashboard .message-wrapper .message-title {
  margin-bottom: 1em;
  text-align: center;
}
.dashboard .message-wrapper .messages-card {
  display: flex;
  padding: 1em;
  border-radius: 5px;
  outline: 1px solid rgb(204, 204, 204);
  gap: 10px;
  margin: 1em 0;
}
/* .dashboard .message-wrapper .messages-card .name {
} */
.dashboard .logout {
  padding: 0.7em 1.5em;
  border-radius: 5px;
  margin-top: 1em;
  text-decoration: underline;
  cursor: pointer;
}

/* Message Page */
.message-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vb;
}
.message-page .message-wrapper {
  width: 50%;
  border: 1px solid rgb(146, 146, 146);
  padding: 1em;
  border-radius: 10px;
}
.message-page .message-wrapper .header-wrapper {
  border-bottom: 1px solid rgb(156, 156, 156);
  padding-bottom: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}
.message-page .message-wrapper .header-wrapper .back-button-container {
  position: absolute;
  left: 1em;
  color: rgb(218, 218, 218);
}
.message-page .message-wrapper .header-wrapper .back-button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.message-page .message-wrapper .header-wrapper .user-info {
  text-align: center;
}
.message-page .message-wrapper .header-wrapper .user-info .status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(236, 236, 236);
  font-weight: bold;
}
.message-page
  .message-wrapper
  .header-wrapper
  .user-info
  .status-container
  .status {
  width: 10px;
  height: 10px;
  border-radius: 50em;
}
.message-page .message-wrapper .content::-webkit-scrollbar,
.message-page
  .message-wrapper
  .action-wrapper
  .text
  textarea::-webkit-scrollbar {
  width: 5px;
}
.message-page .message-wrapper .content::-webkit-scrollbar-thumb,
.message-page
  .message-wrapper
  .action-wrapper
  .text
  textarea::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
  border-radius: 50em;
}
.message-page .message-wrapper .content::-webkit-scrollbar-track,
.message-page
  .message-wrapper
  .action-wrapper
  .text
  textarea::-webkit-scrollbar-track {
  background: rgb(133, 133, 133);
  border-radius: 20px;
}

.message-page .message-wrapper .content {
  /* border: 1px solid white; */
  height: 500px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  overflow-y: auto;
  padding: 1em;
  position: relative;
}
.message-page .message-wrapper .content .no-conversation {
  text-align: center;
  color: rgb(219, 219, 219);
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  align-self: center;
}

.message-page .message-wrapper .content .message-right-side-card,
.message-page .message-wrapper .content .message-left-side-card {
  width: 100%;
  padding: 0.5em 0.8em;
  /* border: 1px solid rgb(27, 27, 27); */
  border-radius: 10px;
  margin: 1em 0;
}
.message-page .message-wrapper .content .message-right-side-card .message,
.message-page .message-wrapper .content .message-left-side-card .message {
  width: fit-content;
  padding: 0.5em 0.8em;
  border-radius: 10px;
}
.message-page .message-wrapper .content .message-right-side-card .time,
.message-page .message-wrapper .content .message-left-side-card .time {
  text-align: center;
  font-size: 12px;
  padding: 0.5em;
  color: #ffffffd8;
  font-weight: bold;
}
.message-page .message-wrapper .content .message-right-side-card {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.message-page .message-wrapper .content .message-left-side-card .message {
  background: rgb(51, 51, 51);
}
.message-page .message-wrapper .content .message-right-side-card .message {
  align-self: end;
  background: linear-gradient(
    rgb(31, 100, 204),
    rgb(25, 96, 226),
    rgb(8, 72, 168)
  );
}
.message-page .message-wrapper .action-wrapper {
  padding-top: 1em;
  border-top: 1px solid rgb(156, 156, 156);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.message-page .message-wrapper .action-wrapper .text {
  flex: 2;
}
.message-page .message-wrapper .action-wrapper .text textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  outline: none;
}
.message-page .message-wrapper .action-wrapper .text textarea:focus {
  border: 1px solid rgb(63, 130, 255);
}
.message-page .message-wrapper .action-wrapper .send button {
  padding: 0 1em;
  cursor: pointer;
  color: rgb(63, 130, 255);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s ease-in-out;
  font-size: 15px;
}
.message-page .message-wrapper .action-wrapper .send button:active {
  transform: scale(0.95);
  color: rgb(160, 193, 255);
}

@media screen and (max-width: 800px) {
  .message-page .message-wrapper {
    width: 90%;
  }
}
